<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copywrite &copy; <%= link_to "Dallas Rogers", "https://test.com", class: "text-white" %></small>
  </div>
</footer>